body{
	text-align: center;
	background-color: #FFFBEE;
}
h1{
	font-family: 'Hammersmith One', sans-serif;
	color: #FFC70A;
	text-shadow: -5px 5px 5px rgb(35,194,225);
	text-shadow: -2px 2px 2px black;
	letter-spacing: 1px;
	font-size: 50px;
}
h2{
	color: rgb(35,194,225);
}
.navbar{
	background-color: rgb(35,194,225) !important;
	color: white !important;
}
.card, .discard{
	display: inline-block;
	border: 2px solid black;
	border-radius: 5px;
	height: 150px;
	width: 100px;
	margin: 5px;
	overflow: auto;
	font-size: 25px;
	font-family: 'Hammersmith One', sans-serif;
	color: white;
	text-shadow: -2px 2px 2px black;
}
.hidden{
	visibility: hidden;
}
.navbar-p{
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.footer-fixed-bottom{
	bottom: 0 !important;
	position: fixed !important;
}
footer li {
	list-style: none;
	display: inline-block;
	padding: 
}