body{
	text-align: center;
}
h1{
	color: blue;
}
h2{
	color: blue;
}
.card, .discard{
	display: inline-block;
	border: 1px solid black;
	height: 150px;
	width: 100px;
	margin: 5px;
	overflow: auto;
	color: white;
}
